<a href="https://colab.research.google.com/github/Gonnabattula-Sravani/FML-LSB/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
s1=pd.Series([1,2,3,4])
print(s1)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
a=np.array(['cat','dog','bird'])
d=pd.Series(a)
print(d)

0     cat
1     dog
2    bird
dtype: object

In [ ]:
#DATAFRAME
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
df = pd.read_csv('cars.csv')

In [ ]:
len(df)

10

In [ ]:
training_data, testing_data = train_test_split(df, test_size=0.5, random_state=25)

In [ ]:
df1 = pd.DataFrame({
    "C1": [1, 4, 8, 7, 9],
    "C2": ['a', 'column', 'with', 'a', 'string'],
    "C3": [1.23, 23.5, 45.6, 32.1234, 89.453],
    "C4": [True, False, True, False, True]
})
print(df1)

   C1      C2       C3     C4
0   1       a   1.2300   True
1   4  column  23.5000  False
2   8    with  45.6000   True
3   7       a  32.1234  False
4   9  string  89.4530   True

In [ ]:
items = [['Phone', 2000], ['TV', 1500], ['Radio', 800]]
df3 = pd.DataFrame(items)
print(df3)

       0     1
0  Phone  2000
1     TV  1500
2  Radio   800

In [ ]:
items = [['Phone', 2000], ['TV', 1500], ['Radio', 800]]
df4 = pd.DataFrame(items, columns=['Item', 'Price'], dtype=float)
print(df4)

    Item   Price
0  Phone  2000.0
1     TV  1500.0
2  Radio   800.0

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
training_data

  Number     Type  Capacity
2    USG     Benz      2200
9    TBG    Range      3200
7    USD  Fielder      1500
6    KCP     Benz      2200
4    KBQ    Range      3500

In [ ]:
testing_data

  Number     Type  Capacity
5    TBD   Premio      1800
1    KCN  Fielder      1500
3    TCH      BMW      2000
8    UGB      BMW      2000
0    SSD   Premio      1800